<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Transaction</title>
</head>
<body>
<style>
    .content{
    max-width: 550px;
    height: 550px;
    margin: auto;
    border-radius: 3px;
    background-color: #e7e6e5;
    padding: 155px;
    font-family: Cambria';
    color: black;
    font-size:18px;
    }
    button[type=submit]:hover {
    background-color: rgb(53, 51, 51);
    }
    button[type=submit] {
  background-color: #000000;
  color: white;
  align: center;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  }

</style>
{% extends 'base.html' %}
{% block content%}
<br xmlns="http://www.w3.org/1999/html">
<br>
<form method = "POST" action="trans">
  {% csrf_token %}

  <div class="content">
    <label>Category </label>
      <br>
      <select name="cat_id">
        {% for i in cat%}
        <option value="{{i.cat_id}}"> {{i.cat_names}}</option>
        {%endfor%}
      </select>
<br>
<br>
    <label>Expense Name</label><br>
    <input value="{{form.expense}}" name="expense"> {{expense}}</input><br><br>
    <label>Amount</label><br>
    <input value="{{form.amount}}" name="amount"> {{amount}}</input><br>
    <br>
      <button type="submit"> Save </button>
    </div>


</form>
{% endblock%}
</body>
</html>